pip==20.1.1
versioneer==0.18
wheel==0.34.2
watchdog==0.10.2
flake8>=3.4,<4.0
tox==3.15.2
coverage==5.1
Sphinx==3.1.0
sphinx-rtd-theme==0.4.3
nbsphinx==0.7.0
cryptography==2.9.2
PyYAML==5.3.1

bokeh==2.0.2
ipython==7.15.0
ipywidgets==7.5.1
matplotlib==3.2.1
notebook>=5.0,<7.0
numpy==1.18.5
pandas==1.0.4
seaborn==0.10.1
statsmodels==0.10.1
