pip==18.1
versioneer==0.18
wheel==0.32.1
watchdog==0.9.0
flake8>=3.4,<4.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
sphinx-rtd-theme==0.4.1
nbsphinx==0.3.3
cryptography==2.3.1
PyYAML==3.13

bokeh==0.13.0
ipython>=5.0,<7.0
ipywidgets==7.4.0
matplotlib>=2.0,<3.0
notebook>=5.0,<7.0
numpy==1.15.0
pandas>=0.19,<1.0
seaborn==0.9.0
statsmodels==0.9.0
