pip==19.0.3
versioneer==0.18
wheel==0.33.1
watchdog==0.9.0
flake8>=3.4,<4.0
tox==3.8.4
coverage==4.5.3
Sphinx==2.0.0
sphinx-rtd-theme==0.4.3
nbsphinx==0.4.2
cryptography==2.6.1
PyYAML==5.1

bokeh==1.0.4
ipython==7.2.0
ipywidgets==7.4.2
matplotlib==3.0.2
notebook>=5.0,<7.0
numpy==1.15.4
pandas>=0.19,<1.0
seaborn==0.9.0
statsmodels==0.9.0
